@media screen and (max-width: 960px) {
    .progressbar-container {
        display: flex;
        justify-content: space-around + safe;
        flex-flow: row wrap;
    }
}

@media screen and (max-width: 710px) {
    .progressbar-container {
        display: flex;
        justify-content: space-around + safe;
        flex-flow: row wrap;
        align-items: stretch;
    }
    .name {
        font-size: 20px;
    }
    .info {
        font-size: 10px;
    }
    .fa {
        font-size: .5rem;
    }
    .contact {
        font-size: 10px;
    }

    .project-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }

}

@media screen and (max-width: 585px) {
    
    .container-2 {
        display: flex;
        justify-content: space-around + safe;
        flex-direction: column;
    }

    .picture-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .info-container {
        display: flex;
    }

    .name {
        font-size: 25px;
        text-align: center;
    }
    .info {
        font-size: 15px;
        text-align: center;
    }
    .fa {
        font-size: .8rem;
    }
    .contact {
        font-size: 10px;
        float: left;
    }
    .info-main-container {
        display: flex;
        justify-content: center;
    }

    .social {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .social-connect {
        font-size: 22px;
        text-align: center;
        display: flex;
        margin-top: 2rem;
        justify-content: space-around;
    }

    .progressbar-container .card {
        width: 170px;
    }

    .nav-menu {
        display: none;
    }

    .activate {
        display: block;
        transition: 1s ;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #063647;
        top: 80px;
        left: 0;
        overflow: hidden;
        text-align: center;
        transition: all 1s ease-out;
        
    }

    .nav-menu ul li {
        display: block;
        padding:1rem;
    }

    .nav-menu ul li a {
        color: white;
    }


    .toggle-menu {
        display: flex;
        float: right;
    }

    .container {
        width: 100%;
    }

    .title-center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 25px;

    }

}

@media screen and (max-width: 476px) {
    .progressbar-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 377px) {

    .progressbar-container {
        display: flex;
        justify-content: space-around + safe;
        flex-flow: row wrap;
        align-items: stretch;
    }

    .name {
        font-size: 18px;
        text-align: center;
    }
    .info {
        font-size: 12px;
        text-align: center;
    }
}